body{
    background-color :white;
    font-family:"Segoe UI";
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.menu{
    top: 0px;
    position: relative;
    margin: 0 ;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100px;  
    font-size: 19px;
    font-weight: 400px; 
    position: fixed;
    background-color: #000;
}   
a.a1:hover{
    color: white;
    }
a:hover{
    color: #008AFF;
    }
    a.ex1:hover{
         color: #008AFF;
    }
    button.B1:hover{
         background-color: white;
         color: royalblue;
    }    
.logo{
    width: 205px;
    height: 54px;
    margin-top: -30px;
    margin-right: 600px;
    float: right;
}
.B1{
    width: 188px;
    height: 46px;
    background-color: #048dff;
    border-radius: 33px;
    border: 1px solid #707070;
    font-size: 20px;
    color: white;
    }

    .H1{
        width: 433px;
        height: 53px;
        color: #f0eeee;
        font-size: 39px;
        font-weight: 400;
        padding-left: 500px;
        text-align: center;
        padding-top: 120px;
    }
    .heder{
        flex-basis: 100%;
          background-color: tomato;
            height: 588px;
            background-image: url(imag1.png);
            background-repeat: no-repeat;
            background-size: cover;
       }
       
     .menu li a {
            text-decoration: none;
            color: white;
            padding: 15px;
       }
       .P1{
           background-color: blue;
       }
       .P2{
           background-color: blue;
       }
       .button1,.button2 {
        background-color: white; 
        border: none;
        color: black;
        font-size: 16px;
        margin: 2px 7px;
        cursor: pointer;
        -webkit-transition-duration: 0.33s; 
        transition-duration: 0.22s;
      }
 .button1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1{ 
border-radius: 50px 0px 0px 0px;
background-color: #B4BBC0;
padding: 15px 32px;
width: 49%;
text-align: center;
margin-top: -20px;
}
.button2{ 
    border-radius: 50px 0px 0px 0px;
    background-color:#048dff ;
    padding: 15px 32px;
     width: 49%;
    text-align: center;
    margin-top: -20px;
}
.div1{
    margin: 5px;
    border: black 2px solid;
     float: right;
     height: 100px;
    background-color: #048dff;
    width: 49%;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    margin-top: 80px;
}
.div2{
    margin: 5px;
    border: black 2px solid;
    float: right;
    background-color: #048dff;
    width: 49%;
    height: 100px;
    text-align: center;
    border-radius:  20px 20px 20px 20px;
    margin-top: 80px;
   
}
.div3{
    margin: 5px;
    border: black 2px solid;
    float: right;
    background-color: #048dff;
    width: 49%;
    height: 100px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    
    margin-top: 80px;
    
}
.div4{
    margin: 5px;
    border: black 2px solid;
    float: left;
    background-color: #048dff;
    width: 49%;
    height: 100px;
    text-align: center;
    border-radius:  20px 20px 20px 20px;
    margin-top: 80px;
   
}
.div5{
    margin: 5px;
    border: black 2px solid;
    float: left;
    background-color: #048dff;
    width: 49%;
    height: 100px;
    border-radius:  20px 20px 20px 20px;
    text-align: center;
  
    margin-top: 80px;
    
}
.div6{
    margin: 5px;
    border: black 2px solid;
    float: left;
    background-color: #048dff;
    width: 49%;
    height: 100px;
    text-align: center;
    border-radius:  20px 20px 20px 20px;
    margin-top: 80px;
   
}
.div7{
    margin: 5px;
    border: black 2px solid;
    float: left;
    background-color: #048dff;
    width: 49%;
    height: 100px;
    border-radius:  20px 20px 20px 20px;
    text-align: center;
    margin-top: 80px;
    
}
.div8{
    margin: 5px;
    border: black 2px solid;
    float: left;
    background-color: #048dff;
    width: 49%;
    height: 100px;
    text-align: center;
    border-radius:  20px 20px 20px 20px;
    margin-top: 80px;
   
}

.footer-distributed{
    background-color: #000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 15px 50px;
    margin-top: 100px;  
    font-size: 14px;
    color:#8f9296;
   

}
.copyright {
color:#8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
padding-left: 200px;
margin-left: 450px;
margin-right: 500px;
margin-top: -50px;

}
.footer-icons{
float: right;
margin-right: -40px;
margin-top: -50px;
text-align: right;
}
.i1{
    margin: 2px;
}
.p1{
margin-left: -50px;
}


